<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.studies.mybatis.mapper.UserMapper">
	<!-- 开启本mapper的namespace下的二级缓存 
	默认是使用org.apache.ibatis.cache.impl.PerpetualCache
	-->
	<!-- <cache /> -->
	<select id="getById" parameterType="int"
		resultType="com.hao.studies.mybatis.models.User">
		select * from user where id=#{id}
	</select>

	<select id="update" parameterType="com.hao.studies.mybatis.models.User">
		UPDATE `user` SET
		`username`=#{username}, `birthday`=#{birthday},
		`sex`=#{sex},
		`address`=#{address}
	</select>
</mapper>